<div class="row">
    <div class="col-md-6 offset-md-3">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }} 
                {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'nom'}  }) }} 
            </div>
            <div class="form-group">    
                <button class="btn {{ button_color|default('btn-primary') }}  mt-3">{{ button_label|default('Enregistrer') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
